@model MvcModalPOC.Models.IceCreamVM

<div class="row">
    <div class="col-sm-12">
        <h3>Ice Cream Partial View</h3>

        <p>Hello @Model.FirstName</p>
        <p>Your favorite ice cream is @Model.Brand, @Model.Flavor flavor.</p>
    </div>
</div>
