@{
    ViewBag.Title = "Home Page";
}

<style>
    .title {
        text-align: center;
        margin-bottom: 1em;
    }
</style>

@*Render JS before the body*@
@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(document).ready(function () {
        $("#ShowModalButton").click(function () {
            var name = $("#name").val();
            $("#modal_body").html(name);
            $("#IceCreamModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });  
    });

    function openModal() {
        alert("Opening Modal...");
    }
</script>

<h1 class="title">ASP.NET MVC Modal POC</h1>

<div class="row">
    <div class="col-sm-6">
        <h2>Instructions</h2>

        <p>Enter your name and click the submit button.</p>
        <p>A modal will open, showing your name. </p>
        <p>In the modal, enter your favorite ice cream and click submit.</p>
        <p>The parent page will show your favorite ice cream as well as your name.</p>
    </div>

    <div class="col-sm-6" style="margin-top: 1.5em;">
        <form>
            <label for="name">Name:</label>
            <input id="name" type="text" name="name" required>

            <input id="ShowModalButton" type="button" value="Open Modal" onclick="openModal()">
        </form>
    </div>
</div>

<div class="modal-dialog modal-dialog-centered">
    <h1>This is my modal</h1>
    <p>Your name is: <span id="modalName"></span></p>
</div>
