@{
    ViewBag.Title = "Home Page";
}

<style>
    .title {
        text-align: center;
    }
</style>

@*Render JS before the body*@
@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(document).ready(function () {
        const myModal = document.getElementById('ModalId')
        const myModalInput = document.getElementById('ModalInputId')

        var nameInput = "";

        //When the modal shows
        myModal.addEventListener('shown.bs.modal', () => {
            //Set the name value
            nameInput = $("#name").val();

            //Focus the input field
            $("#ModalLabelId").html(nameInput);
            myModalInput.focus()
        })

        //On modal save button click event
        $("#ModalSaveButton").click(function () {
            //Get the input value
            var iceCreamInput = $("#ModalInputId").val();

            //Hide modal
            var modal = bootstrap.Modal.getInstance(myModal)
            modal.hide();

            //Handle modal closing
            modalClosed(iceCreamInput);
        });

        function modalClosed(iceCreamName) {
            alert(nameInput + " likes " + iceCreamName);
        }
    });
</script>

<h1 class="title">ASP.NET MVC Modal POC</h1>
<h2 class="title" style="margin-bottom: 1.5em; background-color: lightgreen;">The JavaScript Way</h2>

<div class="row">
    @* Instructions *@
    <div class="col-sm-6">
        <h4>Instructions</h4>
        <p>Enter your name and open the modal.</p>
        <p>A modal will open. Notice that your name is passed into the modal.</p>
        <p>Enter your favorite ice cream and close the modal.</p>
        <p>Notice that your name and the modal input data persists.</p>

        @* Dependencies *@
        <h4 style="margin-top: 1em;">Dependencies</h4>
        <p>Bootstrap 5.2.3</p>
        <p>.NET Framework 4.5.2</p>
    </div>

    @* Input and Button *@
    <div class="col-sm-6" style="margin-top: 1.5em;">
        <form>
            <input id="name" type="text" name="name" placeholder="Enter your first name" class="form-control" style="display: inline;">

            <!-- Open modal button -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalId">
                Open Modal
            </button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <a class="btn btn-warning" href="@Url.Action("MvcWay","Home")">Go to the MVC Way</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalId" tabindex="-1" aria-labelledby="ModalLabelId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="ModalLabelId" class="modal-title fs-5">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <input id="ModalInputId" type="text" placeholder="What is your favorite ice cream?" class="form-control" style="display: inline;">
            </div>

            <div class="modal-footer">
                <button id="ModalSaveButton" type="button" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
