@model MvcModalPOC.Models.IceCreamVM

@using MvcModalPOC.Models;

@{
    ViewBag.Title = "Home Page";
}

<style>
    .title {
        text-align: center;
    }
</style>

@*Render JS before the body*@
@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    function iceCreamViewAction() {
        $.ajax({
            url: '/Home/IceCreamPartialView',
            type: 'GET',
            async: false,
            data: { id: @Model.ID },
            success: function (result) {
                $("#ModalBodyContainerID").html(result);
                $('#ModalId').modal('show');
            }
        });
    }
</script>

<h1 class="title">ASP.NET MVC Modal POC</h1>
<h2 class="title" style="margin-bottom: 1.5em; background-color: lightblue;">The MVC Way</h2>

<div class="row">
    @* Instructions *@
    <div class="col-sm-6">
        <h4>Instructions</h4>
        <p>Enter your name and open the modal.</p>
        <p>A modal will open. Notice that your name is passed into the modal.</p>
        <p>Enter your favorite ice cream and close the modal.</p>
        <p>Notice that your name and the modal input data persists.</p>

        @* Dependencies *@
        <h4 style="margin-top: 1em;">Dependencies</h4>
        <p>Bootstrap 5.2.3</p>
        <p>.NET Framework 4.5.2</p>
    </div>

    @* Input and Button *@
    <div class="col-sm-6" style="margin-top: 1.5em;">
        <!-- Open modal button -->
        <input id="name" type="text" name="name" placeholder="Enter your first name" class="form-control" style="display: inline;">

        @{
            <input id="OpenModelButtonId" class="btn btn-primary" type="button" value="Open Modal" onclick="iceCreamViewAction()" />
        }
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <a class="btn btn-warning" href="@Url.Action("JavaScriptWay","Home")">Go to the JavaScript Way</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalId" tabindex="-1" aria-labelledby="ModalLabelId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div id="ModalBodyContainerID" style="margin: 50px;">

            </div>
        </div>
    </div>
</div>
